@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  background-color: rgb(215, 239, 242);
  color: rgb(28, 28, 28);
}

h1 {
  font-family: Montserrat;
  font-weight: 1000;
  font-size: 48px;
}

h2 {
  font-family: Montserrat;
  font-weight: 1000;
  font-size: 48px;
  font-size: 24px;
}

p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: rgb(28, 28, 28);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: flex;
  flex-flow: row wrap;
  background-color: inherit;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0%;
  box-shadow: 0px 0.25px 20px -5px rgb(28, 28, 28);
}
header .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}
header .container nav {
  align-self: center;
}
header .container nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  list-style: none;
}
header .container nav ul li a {
  display: inline-block;
  border: 3px rgb(28, 28, 28) solid;
  border-radius: 15px;
  padding: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: rgb(28, 28, 28);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
header .container nav ul li a:before {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  content: " ";
  background: linear-gradient(120deg, #4776e6, #8e54e9);
}
header .container nav ul li a:hover {
  color: rgb(215, 239, 242);
  background: linear-gradient(120deg, #4776e6, #8e54e9);
  font-weight: 1000;
  border: 3px rgb(215, 239, 242) solid;
}
header .container nav ul li a:active {
  transform: scale(0.9);
}
header #burger-check {
  display: none;
}
header .burger-menu {
  display: none;
  animation: fade 0.3s ease-in-out;
  top: 8%;
  position: fixed;
  z-index: 1;
}
header .burger-menu li {
  list-style: none;
}
header .burger-menu li a {
  font-family: Montserrat;
  font-weight: 1000;
  font-size: 48px;
  font-size: 24px;
  text-decoration: none;
  color: rgb(28, 28, 28);
  transition: all 0.2s ease-in-out;
}
header .burger-menu li a:hover {
  opacity: 0.7;
}
header .burger-menu::before {
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: -1;
  display: block;
  content: " ";
  height: 100vh;
  width: 100vw;
  background: rgb(215, 239, 242);
  opacity: 0.9;
}
header .burger-button {
  align-self: center;
  right: 5%;
  z-index: 2;
  display: none;
  position: fixed;
  color: rgb(28, 28, 28);
  font-size: 3em;
  font-weight: 1000;
}
header .burger-button::before {
  z-index: -1;
  position: absolute;
  left: -11px;
  top: 3px;
  height: 50px;
  width: 50px;
  content: " ";
  background: linear-gradient(120deg, #4776e6, #8e54e9);
  border-radius: 15px;
}
header #burger-check:checked + .burger-menu {
  display: block;
}

main hr {
  border-radius: 15px;
  height: 3px;
  background: rgb(28, 28, 28);
  margin-top: 30px;
}
main .first-block {
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  background: linear-gradient(120deg, #4776e6, #8e54e9);
  perspective: 3000px;
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-items: center;
}
main .first-block a {
  position: relative;
  width: 10%;
  height: auto;
  border-radius: 15px;
  transform: rotatey(30deg);
  flex: 1 1 50%;
  margin-left: 1em;
  box-shadow: 0px 0px 0px 3px rgb(28, 28, 28);
  transition: all 0.2s ease-in-out;
}
main .first-block a img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
main .first-block .slogan {
  margin-right: 1em;
  flex: 1 1 20%;
  transition: opacity 0.2s ease-in-out;
}
main .about-block {
  width: 90%;
  margin: 0 auto;
}
main .about-block .green {
  color: #46b96b;
}
main .about-block .yellow {
  color: #bb9d43;
}
main .about-block .gray {
  color: rgb(108, 106, 106);
}
main .dev-block {
  width: 90%;
  margin: 0 auto;
}
main .dev-block .container {
  display: flex;
}
main .dev-block .container p {
  flex: 2;
}
main .dev-block .container .img-container {
  width: 500px;
  display: flex;
  flex-flow: column;
}
main .dev-block .container .img-container label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: rgb(28, 28, 28);
  color: rgb(108, 106, 106);
  text-align: center;
}
main .dev-block .container .img-container img {
  box-sizing: border-box;
  height: auto;
}
main .dev-block table {
  text-align: center;
}
main .dev-block caption,
main .dev-block th {
  font-family: Montserrat;
  font-weight: 1000;
  font-size: 48px;
  font-size: 20px;
}
main .dev-block th {
  border: 3px solid rgb(28, 28, 28);
  border-radius: 5px;
}
main .dev-block td {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: rgb(28, 28, 28);
  border: 3px solid rgb(28, 28, 28);
  border-radius: 5px;
  padding: 5px;
}
main .dev-block a {
  font-family: Montserrat;
  font-weight: 1000;
  font-size: 48px;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  color: rgb(28, 28, 28);
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
main .dev-block a:hover {
  opacity: 0.7;
}
main .dev-block span {
  opacity: 0.5;
}
main .dev-block img {
  border-radius: 15px;
}
main .authors-block {
  width: 90%;
  margin: 0 auto;
}
main .authors-block .container {
  display: flex;
  flex-flow: row wrap;
  perspective: 1000px;
  gap: 15px;
}
main .authors-block .container section {
  background-color: rgb(28, 28, 28);
  border: 3px rgb(28, 28, 28) solid;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 100px;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: rgb(215, 239, 242);
  transition: all 0.2s ease-in-out;
}
main .authors-block .container section h2 {
  transform: translateY(2rem);
  transition: transform 0.2s ease-in-out;
  width: 150px;
}
main .authors-block .container section p {
  transition: opacity 0.2s ease-in-out;
}
main .authors-block .container section:hover {
  scale: 1.1;
  background-color: rgb(215, 239, 242);
  color: rgb(28, 28, 28);
}
main .authors-block .container section:hover p {
  opacity: 1;
  visibility: visible;
}
main .authors-block .container section:hover h2 {
  transform: translateY(0rem);
}
main .download-block {
  width: 90%;
  margin: 0 auto;
}
main .download-block .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main .download-block .row button {
  margin: 30px 0;
  width: 300px;
  height: 100px;
  background: linear-gradient(120deg, #38ef7d, #11998e);
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
  border: none;
}
main .download-block .row button:hover {
  opacity: 0.7;
  scale: 1.1;
}
main .download-block .row button:active {
  transform: scale(0.9);
}

footer {
  box-shadow: 0px -2px 0px rgb(28, 28, 28);
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: 100px;
}

@media (min-width: 1150px) {
  main .first-block a {
    position: relative;
  }
  main .first-block a::after {
    display: flex;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "Скачай меня!";
    font-family: "Montserrat";
    font-weight: 1000;
    font-size: 64px;
    transition: all 0.2s ease-in-out;
    color: rgb(28, 28, 28);
    text-align: center;
  }
  main .first-block a:hover {
    transform: rotatey(0);
    transform: translateX(28%);
    opacity: 0.7;
  }
  main .first-block a:hover + .slogan {
    opacity: 0;
  }
  main .first-block a:hover::after {
    opacity: 1;
  }
}
@media ((min-width: 360px) and (max-width: 1150px)) {
  header {
    position: static;
    box-shadow: none;
  }
  main .first-block {
    flex-flow: column-reverse wrap;
    padding: 0;
  }
  main .first-block h1 {
    margin-left: 1em;
  }
  main .first-block a {
    position: relative;
    transform: rotatey(0);
    width: 80%;
    margin: 10px;
  }
  main .first-block a::after {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "Скачай меня!";
    text-align: center;
    font-family: "Montserrat";
    font-weight: 1000;
    font-size: 64px;
    transition: all 0.2s ease-in-out;
    color: rgb(28, 28, 28);
  }
  main .first-block a:hover {
    opacity: 0.7;
  }
  main .first-block a:hover::after {
    opacity: 1;
  }
  main .dev-block .container {
    flex-flow: column;
  }
  main .dev-block .container .img-container {
    width: 85vw;
  }
  .horizontal-menu {
    display: none;
  }
  body {
    margin-left: 2.5%;
    width: 95%;
  }
  header .burger-button {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */