@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



$black: rgb(28,28,28);
$accent: linear-gradient(120deg, #4776e6, #8e54e9);
$download: linear-gradient(120deg, #38ef7d, #11998e);
$text: rgb(215, 239, 242);

%dark-theme {
    background-color: rgb(28, 28, 28);
    color: $text;
}
%flex-container {
    display: flex;
    flex-flow: row wrap;
}
%paragraph-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: $text;
}
%header-text {
    font-family: Montserrat;
    font-weight: 1000;
    font-size: 48px;
}

html {
    scroll-behavior: smooth;
  }

body {
    width: 80%;
    margin-left: 10%;
    @extend %dark-theme;
}
h1 {
    @extend %header-text;
}
h2 {
    @extend %header-text;
    font-size: 24px;
}
p {
    @extend %paragraph-text;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    @extend %flex-container;
    box-shadow: 0px 2px 0px $text;
    nav {
        margin-left: auto;
        justify-self: flex-end;
        align-self: center;
        ul {
            @extend %flex-container;
            justify-content: flex-start;
            justify-items: flex-end;
            gap: 20px;
            list-style: none;
            li {
                a {
                    display: inline-block;
                    border: 3px $text solid;
                    border-radius: 15px;
                    padding: 10px;
                    @extend %paragraph-text;
                    text-decoration: none;
                    &:before {
                        height: 10px; width: 10px; border-radius: 100%;
                        content: ' '; background: $accent;
                    }
                    &:hover {
                        color: $black;
                        background: $accent;
                        font-weight: 1000;
                        border: 3px $black solid;
                    }
                    &:active {
                        transform: scale(0.9);
                    }
                    transition: all .1s ease-in-out;
                }
            }
        }
    }

    #burger-check {
        display: none;
    }

    .burger-menu {
        display: none;
        animation: fade .3s ease-in-out;
        top: 8%;
        position: fixed;
        z-index: 1;
            li {
                list-style: none;
                
                a {
                    @extend %header-text;
                    font-size: 24px;
                    text-decoration: none;
                    color: $text;
                    transition: all .2s ease-in-out;
                    &:hover {
                        opacity: .7;
                    }
                }
            }

        &::before {
                top: 0%;
                left: 0%;
                position: fixed;
                z-index: -1;
                display: block;
                content:" ";
                height: 100vh;
                width: 100vw;
                background: $black;
                opacity: .9;
            
        }
    }


    .burger-button {
        align-self: center;
        right: 10%;
        z-index: 2;
        display: none;
        position: fixed;
        color: $text;
        font-size: 3em;
        font-weight: 1000;
        &::before {
            z-index: -1;
            position: absolute;
            left: -11px;
            top: 3px;
            height: 50px;
            width: 50px;
            content: " ";
            background: $accent;
            border-radius: 15px;
        }
    }

    #burger-check:checked + .burger-menu{
        display: block;
    }

}


main {
    .first-block {
        @extend %flex-container;
        
        background: linear-gradient(120deg, #4776e6, #8e54e9);
        perspective: 2000px;
        margin: 0 auto;
        padding: 50px 0;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-items: center; 
        img {
            width: 20%;
            height: auto;
            border-radius: 15px;
            transform: rotatey(-38deg);
            flex: 1 1 50%;
            margin-right: 1em;
            box-shadow: 0px 0px 0px 3px $text;
        }
        .slogan {
            margin-left: 1em;
            flex: 1 1 20%;
        }
    }

    .about-block {
        .green {
            color: #74f79e;
        }
        .yellow {
            color: #f7d774;
        }
        .gray {
            color: rgb(200,200,200);
        }
    }

    .authors-block {
        .container {
            @extend %flex-container;
            gap: 15px;
            section {
                border: 3px $text solid;
                border-radius: 15px;
                padding: 15px;
                display: flex;
                flex-flow: column wrap;
                flex: 1 1 100px;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                img {
                    width: 100px;
                    border-radius: 15px;
                    border: 3px $text solid;
                }
            }
        }

    }

    .download-block {
        .row {
            @extend %flex-container;
            justify-content: center;
            button {

                margin: 30px 0;
                width: 300px;
                height: 100px;
                background: $download;
                transition: all .2s ease-in-out;
                border-radius: 15px;
                border: none;
                &:hover {
                    opacity: .7;
                }
                &:active {
                    transform: scale(.9);
                }
            }
        }

    }

}

footer {
    box-shadow: 0px -2px 0px $text;
    @extend %flex-container;
    align-content: center;
    height: 100px;
}

@media ((min-width: 380px) and (max-width: 1150px)) {

    main .first-block {
        flex-flow: column wrap;
        padding: 0;
        img {
            transform: rotatey(0);
            width: 80%;
            margin: 10px;
        }
    }

    .horizontal-menu {
        display: none;
    }
    .first-block {
        padding: 0;
    }
    .burger-button {
        display: flex;
    }
}